@import "../globalStyles.scss";

.contact{
    display: flex;
    gap: 2rem;
    padding-bottom: 3rem;
    img{
        width: 50%;
        aspect-ratio: 1/1;
    }
    form{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .error{
            outline: red 1px solid;
            &:focus{
                outline: red 1px solid;
            }
        }
        input{
            width: 100%;
            padding: 1rem; 
            border: 1px solid $gray;
            font-size: 1.6rem;
            &::placeholder{
                color: $gray;
            }
            &:focus{
                outline: $blue 1px solid ;
            }
        }
        textarea{
            flex-grow: 1;
            resize: none;
            border: 1px solid $gray;
            font-size: 1.6rem;
            padding: 1rem;
            font-family: $textFont;
            &::placeholder{
                color: $gray;
            }
            &:focus{
                outline: $blue 1px solid ;
            }

        }
        div{
            display: flex;
            gap: 2rem;
            button{
                width: 50%;
                padding: 1rem 1rem;
                font-size: 1.6rem;
                background-color: $blue;
                color: white;
                text-transform: uppercase;
                border: none;
            }
        }
    }
}